---
layout: default
---

<div class="container">
    <div class="jumbotron text-center">
        <h1>
            Benoit Viguier<br/>
            <small>Développeur</small>
        </h1>
    </div>

    <section class="row text-center">
        <div class="page-header">
            <h1>Moi</h1>
        </div>
        <div id="links-section">
            {% for link in site.data.links %}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
                <a href="{{ link.url }}" alt="{{ link.title }}">
                    <p><i class="fa fa-5x fa-{{ link.icon }} fa-border"></i></p>
                    <p>{{ link.text }}</p>
                </a>
            </div>
            {% endfor %}
        </div>
    </section>

    <section class="text-center">
        <div class="page-header">
            <h1>Talks</h1>
        </div>
        <div class="row" id="talks-section">
            {% for talk in site.data.talks %}
                <div class="col-sm-6 col-md-4">
                    <ul class="fa-ul">
                        <li>
                            <i class="fa fa-comment"></i>
                            <a href="{{ talk.url }}" alt="{{ talk.title }}">
                                {{ talk.title }}
                            </a>
                        </li>
                        <li>
                            <i class="fa fa-calendar"></i>
                            {{ talk.date }}
                        </li>
                        <li>
                            <i class="fa fa-map-marker"></i>
                            <a href="{{ talk.event_url }}">{{ talk.event }}</a>
                        </li>
                        <li>
                            {{ talk.remarks }}&nbsp;
                        </li>
                    </ul>
                </div>
            {% endfor %}
        </div>
        <p class="text-warning">
            <strong>Avertissement:</strong>
            Ces slides sont surtout faits pour être présentés, et non lus&hellip;
        </p>
    </section>
</div>
