---
layout: default
---

<div class="container">
    <div class="jumbotron text-center">
        <h1>
            Benoit Viguier<br/>
            <small class="text-monospace">// Developper</small>
        </h1>
    </div>

    <section>
        <div class="page-header">
            <h1>Me</h1>
        </div>
        <div class="row" id="links-section">
            {% for link in site.data.links %}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
                <a href="{{ link.url }}" alt="{{ link.title }}">
                    <p><i class="{{ link.icon }} fa-5x fa-border"></i></p>
                    <p>{{ link.text }}</p>
                </a>
            </div>
            {% endfor %}
        </div>
    </section>

    <section>
        <div class="page-header">
            <h1>Talks</h1>
        </div>
        <p class="bg-warning">
            <i class="fas fa-exclamation-triangle"></i><strong>Disclaimer:</strong>
            Following slides are designed to be presented, not read…
        </p>
        <div class="row" id="talks-section">
            {% for talk in site.data.talks %}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p-3">
                    <div class="card h-100 bg-light">
                        <div class="card-header">
                            <a href="{{ talk.event_url }}">{{ talk.event }}</a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                {{ talk.title }}
                            </h5>

                            <p>
                                <a href="{{ talk.url }}" alt="slides"><i class="far fa-file-pdf"></i> Slides</a>
                            </p>

                        </div>
                        {% if talk.youtube_id %}
                        <a href="https://youtu.be/{{ talk.youtube_id}}">
                            <img class="card-img-top" src="http://img.youtube.com/vi/{{ talk.youtube_id}}/mqdefault.jpg" alt="Video">
                        </a>
                        {% endif %}
                        <div class="card-footer text-muted">
                            <i class="fa fa-calendar"></i>
                            {{ talk.date }}
                        </div>
                    </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <section class="text-center">
        <div class="page-header">
            <h1>Articles</h1>
        </div>
        <div class="row" id="articles-section">
            {% for article in site.data.articles %}
            <div class="col-sm-6 col-md-4">
                <ul class="alert alert-info fa-ul">
                    <li>
                        <i class="fa fa-comment"></i>
                        <a href="{{ article.url }}" alt="{{ article.title }}">
                            {{ article.title }}
                        </a>
                    </li>
                    <li>
                        <i class="fa fa-calendar"></i>
                        {{ article.date }}
                    </li>
                </ul>
            </div>
            {% endfor %}
        </div>
    </section>
</div>
