<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Benoit Viguier</title>
    <meta name="description" content="Benoit Viguier personal web page">
    <meta name="author" content="Benoit Viguier">

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-"
          crossorigin="anonymous">

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css">


    <link rel="stylesheet" href="css/layouts/blog.css">
    <link rel="stylesheet" href="fontawesome/css/all.min.css">

</head>
<body>

{{ content }}

</body>
</html>
